/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body {
  display: flex;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
.blue {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  background-color: #0C486B;
  text-align: right;
  padding-top: 5%;
  padding-right: 2%;
}
@media (max-width: 800px) {
  .blue {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .blue {
    width: 140%;
  }
}
.blue h1 {
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .blue h1 {
    font-size: 6rem;
  }
}
.blue img {
  width: 45px;
  margin-top: -40%;
}
.blue p {
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .blue p {
    font-size: 0.8rem;
  }
}
.blue .atr-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.blue .atr-block img {
  margin-top: -43%;
}
@media (max-width: 800px) {
  .blue .atr-block img {
    margin-top: -72%;
  }
}
@media (max-width: 500px) {
  .blue .atr-block img {
    margin-top: -115%;
  }
}
.ed-blue {
  height: 15%;
  margin-top: 10%;
}
@media (max-width: 800px) {
  .ed-blue {
    margin-top: 13%;
  }
}
@media (max-width: 500px) {
  .ed-blue {
    margin-top: 11%;
  }
}
.ed-blue .p {
  padding-top: 4%;
}
.ed-blue p {
  line-height: 55%;
}
.exp-blue {
  height: 65%;
  margin-top: 7%;
  margin-bottom: 10%;
}
@media (max-width: 800px) {
  .exp-blue {
    margin-top: -4%;
  }
}
@media (max-width: 500px) {
  .exp-blue {
    margin-top: -24%;
  }
}
.exp-blue .p {
  padding-top: 4%;
  height: 10%;
  padding: 5% 0;
}
.exp-blue p {
  line-height: 55%;
}
.exp-blue .one,
.exp-blue .two,
.exp-blue .three {
  height: 22.3%;
}
@media (max-width: 800px) {
  .exp-blue .two {
    margin-top: 9%;
  }
}
@media (max-width: 500px) {
  .exp-blue .two {
    margin-top: 4%;
  }
}
.exp-blue .three {
  margin-top: -5%;
}
@media (max-width: 800px) {
  .exp-blue .three {
    margin-top: -10%;
  }
}
@media (max-width: 500px) {
  .exp-blue .three {
    margin-top: -23%;
  }
}
.white {
  display: flex;
  flex-direction: column;
  padding-top: 5.6%;
  padding-left: 2%;
}
.white .atr-white {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 6%;
}
@media (max-width: 500px) {
  .white .atr-white {
    flex-direction: column;
  }
  .white .atr-white h2 {
    margin-top: 20%;
  }
}
.white .atr-white h2 {
  margin-bottom: 8%;
}
.white .atr-white li {
  padding: 3% 0;
}
@media (max-width: 500px) {
  .white .atr-white li {
    font-size: 0.8rem;
  }
}
.white .atr-white a {
  text-decoration: none;
  color: #0C486B;
  cursor: pointer;
}
@media (max-width: 800px) {
  .white .atr-white {
    width: 70%;
  }
}
.white h1 {
  color: #0C486B;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .white h1 {
    font-size: 3rem;
  }
}
.white p {
  color: #8A9998;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .white p {
    font-size: 0.8rem;
  }
}
.white .subname {
  color: #8A9998;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.white h2 {
  color: #0C486B;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}
.white h3 {
  color: #8A9998;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}
.white li {
  color: #8A9998;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.name {
  margin-bottom: 5%;
}
.edu-white h2 {
  margin-bottom: 2.5%;
}
.edu-white p {
  margin-bottom: 5%;
}
.exp-white {
  margin-right: 30%;
}
.exp-white h3 {
  margin-top: 3%;
  margin-bottom: 1%;
}
.exp-white p {
  line-height: 140%;
}
.SLED {
  margin-bottom: 6.2%;
}
.SLED h3 {
  margin-top: 5%;
}
