// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

body{
	display: flex;
}



@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

@font-color:#FFFFFF;
@main-font: 'Roboto Condensed', sans-serif;

//styling the left blue section

.blue{
	display: flex;
	flex-direction: column;
	width: 45%;
	height: auto;
	background-color: #0C486B;
	text-align: right;
	padding-top: 5%;
	padding-right: 2%;

	@media ( max-width: 800px ){
		width: 70%;
	}//end of mq 800

	@media ( max-width: 500px ){
		width: 140%;
	}//end of mq 500

	h1{
		color: @font-color;
		font-family: @main-font;
		font-weight: 700;
		font-size: 8rem;
		margin-bottom: 5%;

		@media ( max-width: 500px ){
			font-size: 6rem;
		}//end of mq 500
	}//this is where the h1 styling ends

	img{
		width: 45px;
		margin-top: -40%;
	}//styling for span edns here

	p{
		color: @font-color;
		font-weight: 300;
		font-family: @main-font;
		font-size: 1rem;

		@media ( max-width: 500px ){
			font-size: .8rem;
		}//end of mq 500
	}//end of p stayling

	.atr-block{
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;

		img{
			margin-top: -43%;

			@media ( max-width: 800px ){
				margin-top: -72%;
			}//end of mq 800

			@media ( max-width: 500px ){
				margin-top: -115%;
			}//end of mq 500

		}//end of img

	}//end of atr-block stylings

}//this is where the styling ends for the blue section



.ed-blue{
	height: 15%;
	margin-top:10%;

	@media ( max-width: 800px ){
		margin-top: 13%;
	}//end of mq 800

	@media ( max-width: 500px ){
		margin-top: 11%;
	}//end of mq 500

	.p{
		padding-top: 4%;
	}//this is the end of the p class styling

	p{
		line-height: 55%;
	}//this is the end of the p styling

}//end of ed-blue styling

.exp-blue{
	height: 65%;
	margin-top: 7%;
	margin-bottom: 10%;

	@media ( max-width: 800px ){
		margin-top: -4%;
	}//end of mq 800

	@media ( max-width: 500px ){
		margin-top: -24%;
	}//end of mq 500

	.p{
		padding-top: 4%;
		height: 10%;
		padding: 5% 0;
	}// this is the end of .p styling

	p{
		line-height: 55%;
	}//this is the end of p styling

	.one, .two, .three{
		height: 22.3%;
	}//this is the end of .one-three styling

	.two{
		@media ( max-width: 800px ){
			margin-top: 9%;
		}//end of mq 800

		@media ( max-width: 500px ){
			margin-top: 4%;
		}//end of mq 500
	}//end of two

	.three{
		margin-top: -5%;

		@media ( max-width: 800px ){
			margin-top: -10%;
		}//end of mq 800

		@media ( max-width: 500px ){
			margin-top: -23%;
		}//end of mq 500

	}//end of three
	

}//the end of exp-blue styling









.white{
	display: flex;
	flex-direction: column;
	padding-top: 5.6%;
	padding-left: 2%;

	.atr-white{
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin-bottom: 6%;

		@media ( max-width: 500px ){
			flex-direction: column;

			h2{
				margin-top: 20%;
			}
		}//end of mq 500

		h2{
			margin-bottom: 8%;
		}//end of h2

		li{
			padding: 3% 0;

			@media ( max-width: 500px ){
				font-size: .8rem;
			}//end of mq 500
		}//end of li

		a{
			text-decoration: none;
			color: #0C486B;
			cursor: pointer;
		}//end of a

		@media ( max-width: 800px ){
			width: 70%
		}//end of mq 800

	}//end of art-white class

	h1{
		color: #0C486B;
		font-family: @main-font;
		font-weight: 700;
		font-size: 4rem;

		@media ( max-width: 500px ){
			font-size: 3rem;
		}//end of mq 500
	}//end of H1 styling

	p{
		color: #8A9998;
		font-weight: 300;
		font-family: @main-font;
		font-size: 1rem;

		@media ( max-width: 500px ){
			font-size: .8rem;
		}//end of mq 500
	}//end of p text styling

	.subname{
		color: #8A9998;
		font-weight: 300;
		font-family: @main-font;
	}//end of subname text styling

	h2{
		color: #0C486B;
		font-weight: 700;
		font-family: @main-font;
	}//end of h2 styling

	h3{
		color: #8A9998;
		font-weight: 700;
		font-family: @main-font;
	}//end of h3 styling

	li{
		color: #8A9998;
		font-weight:300;
		font-family: @main-font;
	}//end of li styling

	

}//end of white section styling

.name{
	margin-bottom: 5%;
}//end of name class styling

.edu-white{
	h2{
		margin-bottom: 2.5%;
	}//end of h2 styling

	p{
		margin-bottom: 5%;
		
	}//the end of p styling

}//edn of edu-white styling

.exp-white{
	margin-right:30%;
	h3{
		margin-top: 3%;
		margin-bottom:1%;
	}//end of h2

	p{
		line-height: 140%;
	}//end of p
}//end of exp-white

.SLED{
	margin-bottom: 6.2%;
	h3{ 
		margin-top: 5%;
	}//end of p
}//end of sled







