// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

@font-color:#FFFFFF;
@main-font: 'Roboto Condensed', sans-serif;

//styling the left blue section

.blue{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100vh;
	background-color: #0C486B;
	text-align: right;
	padding-top: 5%;
	padding-right: 2%;

	h1{
		color: @font-color;
		font-family: @main-font;
		font-weight: 700;
		font-size: 8rem;
	}//this is where the h1 styling ends

	img{
		width: 45px;
	}//styling for span edns here

	p{
		color: @font-color;
		font-weight: 300;
		font-family: @main-font;
		font-size: 1rem;
	}//end of p stayling

}//this is where the styling ends for the blue section

.ed-blue{
	height: 15%;
	margin-top: 10%;

	.p{
		padding-top: 4%;
	}

	p{
		line-height: 55%;
	}
}//end of ed-blue styling






